.historyList{
    margin-top: 20px;
    border-bottom: 3px solid hsla(var(--hue), var(--saturation), var(--threeShadeDarker), 1);
}
.fa-check{
    text-align: center;
    padding: 5px;
    width: 36px;
    height: 24px;
}
.tooltip{
    border-radius: 0.5rem;
}

.fab{
    margin:10px;
    font-size: 36px;
}
.signInLabel{
    color:var(--neongreen);
}
.btnDisable{
    color: hsla(var(--hue), var(--saturation), var(--twoShadeDarker), 1);
}
.errMsg{
    font-size: 13px;
    color: hsla(var(--hue), var(--saturation), var(--fourShadeDarker), 1);
}
.pwChangeContainer{
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
    border-radius: 0.8rem;
    box-shadow:  -3px -3px 5px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
    3px 3px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);


    width: 80%;
    height: 400px;
    position:absolute;
    top:20%;
    left:10%;
    margin: 0 auto;
    z-index: 100;
    padding: 10%;
    padding-top: 20px;
}