.historyList{
    margin-top: 20px;
    border-bottom: 3px solid hsla(var(--hue), var(--saturation), var(--threeShadeDarker), 1);
}
.fa-check{
    text-align: center;
    padding: 5px;
    width: 36px;
    height: 24px;
}
.tooltip{
    border-radius: 0.5rem;
}

.fab{
    margin:10px;
    font-size: 36px;
}
