:root{
    --hue:225;
    --hueYellow:22;
    --multiplier:1;
    --baseLightness:85% ;
    --oneShadeLighter:90%;
    --twoShadeLighter:95%;
    --threeShadeLighter:100%;
    --fourShadeLighter:300%;
    --oneShadeDarker:75%;
    --twoShadeDarker:65%;
    --threeShadeDarker:55%;
    --fourShadeDarker:30%;
    --saturation:40%;
    --neongreen:hsla(25,100%,50%,1);
    --newgreenDark:hsla(22,100%,40%,1);
    --lightRed:hsla(360,100%,73%,1);
    --btnWidth:30%;
    --fontColor:hsla(225,40%,30%,1);
    --fontColorLight:hsla(225,40%,55%,1);
    --fontColorLightest:hsla(225,40%,65%,1);
}
button{
    box-shadow: -2px -2px 3px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
          inset  -2px -2px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1), 
                 2px 2px 3px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
            inset 2px 2px 15px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1); 
    
    /* color: hsla(var(--hueYellow), var(--saturation), var(--oneShadeLighter), 1); */
    color:var(--fontColor);
    font-weight: 650;
    margin: 10px;
    border: transparent;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 0.5rem;
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
}
button:active{
    box-shadow: -1.2px -1.2px 3px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
                inset -1.5px -1.5px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
    
                 1.2px 1.2px 3px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
                inset 1.5px 1.5px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1);
    
    color: var(--neongreen);
    font-weight: 650;
    margin: 10px;
    border: transparent;
    padding-bottom: 5px;
    border-radius: 0.5rem;
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
}
button:focus{
    
    color: var(--neongreen);
    font-weight: 650;
    outline: none;

}
.navBackground{ 
    display: flex;
    position: relative;
    height:72px;
    background: hsla(var(--hue), var(--saturation), var(--twoShadeDarker), 1);
    box-shadow:  -3px -3px 2px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                  3px 3px 10px hsla(var(--hue),var(--saturation),var(--threeShadeDarker),1);

}
.navRow{
    margin:0 auto;
    width: 80vw;
}
body{
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
}
.container{
    justify-content: center;
    position: relative;
    padding: 5%;
    box-shadow:  -3px -3px 5px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
          inset  -3px -3px 10px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1),
                  3px 3px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
          inset     3px 3px 15px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1);
    width: 100%;
    height:100%;
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);

}
.modal-dialog{
    margin: 0 auto;
    width: 60%;
    border:none;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow:  -3px -3px 5px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                 3px 3px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);
}
.modal-content{
    border: none;
    
    border-radius: 1rem;
    justify-content: center;
    background-color:transparent;
}
label{
    display:block;
    color: var(--fontColorLight);

    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
}

.form-group{
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);

}

.modal-body {
    border:none;
    font-weight: 650;
    
    color: var(--fontColor);
    
    border :transparent;
    
    background: transparent;
    
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1)
}
.modal-header {
    border:none;
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
    color: var(--fontColor);

}
.modal-footer{
    border:none;
   
    color: hsla(var(--hueYellow), var(--saturation), var(--oneShadeLighter), 1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
}


.signinBtn{
    background: hsla(var(--hue), var(--saturation), var(--twoShadeDarker), 1);
}
.signinBtn:active{
    background: hsla(var(--hue), var(--saturation), var(--oneShadeDarker), 1);

}
.saveBtn{
    font-weight: 700;
}
.closeBtn{
    color:white;
    box-shadow: -1px -1px 2px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                1px 1px 5px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);
    background-color: hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1);
    position: absolute;
    right:0px;
    top:10px;
    line-height: 15px;
    padding-right: 15px ;
    padding-left: 5px;
    border-radius: 0.2rem;
    height: 20px;
    width: 20px;
}
.closeBtn:active{
    box-shadow: inset -1px -1px 2px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                inset 1px 1px 5px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);

}
.sucess{
    color: var(--neongreen);
}
.failed{
    color:var(--lightRed);
}
input:focus{
    outline: none;
}
input{
    color:var(--fontColor);
    box-shadow: inset -2px -2px 5px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                inset 2px 2px 7px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);
    padding: 10px;
    margin: 10px;
    border-radius: 0.5rem;
    border:none;
    /* display: inline; */
    background: hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1);
    /* background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1)!important; */
}
input:focus{
    box-shadow: inset -1px -1px 2px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                inset 1px 1px 5px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);
    padding: 10px;
    margin: 10px;
    border-radius: 0.5rem;
    border:none;
    /* display: inline; */
    background: hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1);
    /* background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1)!important; */
}
form{
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
    
    font-weight: 700;
    margin:0 auto;
}

#slider{
    margin-top: 40px;
    margin-left: 15%;
    display: inline-block;
    -webkit-appearance: none;
    padding:0;
    width:60%;
    height:10px;
    border-radius: 3rem;
    box-shadow: inset -1px -1px 2px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                inset 1px 1px 2px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);
}
.quest{
    margin-left: 8%;
    font-size: 22px;
    color:var(--neongreen);
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 33%;
    height: 40px;
    border-radius: 3rem;
    background: hsla(var(--hue), var(--saturation), var(--baseLightness), 1);
    cursor: pointer;
    
    box-shadow: -3px -3px 15px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
              inset -3px -3px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
                 3px 3px 15px hsla(var(--hue),var(--saturation),var(--threeShadeDarker),1),
             inset    2px 2px 15px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1);
    
}
.sliderLable{
    margin-top: -5px;
    margin-left: 55px;
    margin-bottom: 5%;
    color:var(--fontColor); 
    line-height: 70px;
    padding-bottom: 0;
}

.mapContainer{
    height: 40vh;
    width: 75%;
    margin:0 auto;
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 1rem;
    
    box-shadow: -3px -3px 7px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
              inset -3px -3px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
                 3px 3px 7px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
             inset    3px 3px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);
}

.myNoResult{
    color: var(--fontColorLightest);
}
.accountInput{
    display: block;
    width: 100%;
}
.footer{
    width: 100%;
    display: block;
    position:sticky;
    bottom: -80px;
     align-items: center;
    text-align: center;
    color:darkgray;
    background: hsla(var(--hue), var(--saturation), var(--threeShadeDarker), 1);
}
.footerLink {
    padding-top: 8px;
    height: 50px;
    width: 50px;
    border: 3px solid darkgray;
    border-radius: 50%;
    margin:10px;
}
.footerLink a{
    color: darkgray;
}
.requestHeader{
    margin-top: 10px;
    margin-left: 20px;
    line-height: 10px;
}
.requestFooter{
    margin-left: 10px;
}
ul{
    
    margin-left: -20px;
    justify-content: start;
}
p{
    color: var(--fontColor);
}
li{
    color: var(--fontColor);
    font-weight: 550;
    margin-left: -10px;
    height: 100%;
    align-items: center;
    text-align: start;
    border-radius: 0.5rem;
    width: 100%;
    display: block;
    background:hsla(var(--hue),var(--saturation),var(--baseLightness),1);
    list-style-type: none;
    /* box-shadow:  -2px -2px 5px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
                 2px 2px 7px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1); */
}
li button{
    width: 60%;
}
.neighborList{
    margin-left: -20px;
    height: 200px;
    box-shadow: none;
    background: none;
}
.card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 1rem;
    padding-top: 0px;
    text-align: left;
    
    margin-left: -10px;
    /* background: hsla(var(--hueYellow), var(--saturation), var(--baseLightness), 1); */
    background: lightgray;
    color:var(--fontColorLight);
    font-size: 1rem;
    
    box-shadow:
     -3px -3px 5px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
       3px 3px 15px hsla(var(--hue),var(--saturation),var(--threeShadeDarker),1);
}
.card-body{
    
    box-shadow:
     -3px -3px 5px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
       3px 3px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1);
}
    

.card-title{
    height: 30px;
    border-bottom:2px solid black;
    margin-top: 0px;
    
}
.card-subtitle{
    border-bottom:2px solid black;

}
.card-text{
    
    margin: 10px;
    
}
.card button{
    margin-top: 15px;
    margin-left: 60%;
    font-size: 0.8rem;
    width: 30%;
}
.settings{
    text-align: center;
    padding-top: 3px;
    padding-left: 4px;
    font-size: 18px;
    border-radius: 0.5rem;
    z-index: 10;
    width: 25px;
    height: 25px;
    color:var(--fontColor);
    position: absolute;
    top:1%;
    right:3%;
}
.neiborList{
    display: none;
}
.myContentBtn{
    padding-top: 4px;
    z-index: 0;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    margin-bottom: 3px;
    margin-right:5px;
    margin-left: 0px;
    width: var(--btnWidth);
    height: 30px;
    background: hsla(var(--hue),var(--saturation),var(--baseLightness),1);
    box-shadow: -2px -2px 3px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
          inset  -2px -2px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1), 
                 2px 0px 3px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
            inset 2px 0px 15px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1); 
    
}
.myContentBtn:active{
    z-index: 0;
    margin-right:-5px;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    margin-bottom: 0;
    margin-right:5px;
    margin-left: 0px;
    height: 33px;
    box-shadow: -2px -2px 3px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
          inset  -2px -2px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1), 
                 2px 0px 3px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
            inset 2px 0px 15px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1); 
    

}
.myContentBtn:focus{
    margin-right:-5px;
    z-index: 0;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    margin-bottom: 0;
    margin-right:5px;
    margin-left: 0px;
    
    height: 33px;
    box-shadow: -2px -2px 3px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
          inset  -2px -2px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1), 
                 2px 0px 3px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
            inset 2px 0px 15px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1); 
    
    

}
.myContentRow{
    justify-content: start;
    width: 75%;
    margin:0 auto;
}

.myContent{
    z-index: 100;
    padding: 15px;
    padding-bottom: 5px;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    height: 100%;
    width: 75%;
    background: hsla(var(--hue),var(--saturation),var(--baseLightness),1);
    margin:0 auto;
    margin-top: 0px;
    margin-bottom: 15%;
    
    box-shadow: -2px 2px 5px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
          inset  -2px 2px 17px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1), 
                 2px 2px 15px hsla(var(--hue),var(--saturation),var(--threeShadeDarker),1),
            inset 2px 2px 15px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1); 
}
.myContent input{
    margin-left: 5%;
    width: 40%;
    height: 35px;
}

.landingContainer{
    padding:25px;
    border-radius: 0.8rem;
    margin:0 auto;
    width: 300px;
    box-shadow: -5px -5px 15px hsla(var(--hue),var(--saturation),var(--twoShadeLighter),1),
          inset  -3px -3px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1), 
                 3px 3px 15px hsla(var(--hue),var(--saturation),var(--threeShadeDarker),1),
            inset 5px 5px 25px hsla(var(--hue),var(--saturation),var(--oneShadeDarker),1); 
}
.infoWindow{
    padding:5px;
    border-radius: 0.5rem;
    /* background:hsla(var(--hue),var(--saturation),var(--baseLightness),1) ; */
    color:var(--fontColor);
    font-weight: 550;
}

.redirectMsg{
    color: var(--neongreen);
}

.historyH3{
    color:var(--fontColor)
}