.checkBox{
    margin-top: 4px;
    box-shadow: none;
    width: 18px;
    height: 18px;

}
.checkBox:checked{
    
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.checkBox:active{
    
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.checkBox:focus{
    
    margin-top: 4px;
    width: 18px;
    height: 18px;
}
.shoppingListBtn{
    text-decoration: line-through;
    box-shadow: -1.2px -1.2px 3px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
                inset -1.5px -1.5px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
    
                 1.2px 1.2px 3px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
                inset 1.5px 1.5px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1);
    
}