.checkBox{
    margin-top: 4px;
    box-shadow: none;
    width: 18px;
    height: 18px;

}
.checkBox:checked{
    
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.checkBox:active{
    
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.checkBox:focus{
    
    margin-top: 4px;
    width: 18px;
    height: 18px;
}
.shoppingListBtn{
    width: 80%;
    margin-left: 20px;
    text-decoration: line-through;
    box-shadow: -1.2px -1.2px 3px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
                inset -1.5px -1.5px 15px hsla(var(--hue),var(--saturation),var(--twoShadeDarker),1),
    
                 1.2px 1.2px 3px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1),
                inset 1.5px 1.5px 15px hsla(var(--hue),var(--saturation),var(--oneShadeLighter),1);
    
}
.unPressed{
    width: 80%;
    margin-left: 20px;
}
.unPressed:active{
    width: 80%;
    margin-left: 20px;
}
.shoppingAdd{
    margin-left: 75%;
    height: 25px;
    padding-top: 0%;
}
.shoppingAdd:active{
    margin-left: 75%;
    height: 25px;
    padding-top: 0%;

}
.shoppingAdd:focus{
    margin-left: 75%;
    height: 25px;
    padding-top: 0%;

}

