.passwordStrength{
    margin-left: 25px;
    border-radius: 1rem;
    width: 170px;
    height: 10px;
    background: white;
}
.strengthMeter{
    border-radius: 1rem;
    width: 80%;
    height: 100%;
    background: orange
}
.fa-question-circle{
    margin-left: 15px;
    color:hsla(var(--hue),var(--saturation),var(--threeShadeDarker),1);
}